.divider {
  display: flex;
  justify-content: center;

  &__text {
    padding: 2px calc(var(--sp-extra-tight) * 2);
    border-radius: 8px;
    box-shadow: 0px 0px 4px #000;
  }
}

.divider--surface {
  --local-divider-color: var(--bg-divider);
  --local-divider-opacity: 1;

  .divider__text {
    color: var(--tc-surface-low);
    border: 1px solid var(--bg-divider);
  }
}
.divider--primary {
  --local-divider-color: var(--bg-primary);
  --local-divider-opacity: .8;
  .divider__text {
    color: var(--tc-primary-high);
    background-color: var(--bg-primary);
  }
}
.divider--positive {
  --local-divider-color: var(--bg-positive);
  --local-divider-opacity: .8;
  .divider__text {
    color: var(--bg-surface);
    background-color: var(--bg-positive);
  }
}
.divider--danger {
  --local-divider-color: var(--bg-danger);
  --local-divider-opacity: .8;
  .divider__text {
    color: var(--bg-surface);
    background-color: var(--bg-danger);
  }
}
.divider--caution {
  --local-divider-color: var(--bg-caution);
  --local-divider-opacity: .8;
  .divider__text {
    color: var(--bg-surface);
    background-color: var(--bg-caution);
  }
}
