@use '../button/state';
@use '../../partials/dir';

.segmented-controls {
  background-color: var(--bg-surface-low);
  border-radius: 12px;
  border: 1px solid var(--bg-surface-border);

  display: inline-flex;
  overflow: hidden;
}

.segment-btn {
  transition-duration: 0.2s;
  margin: 2px;
  padding: 4px;
  border-radius: 12px;
  cursor: pointer;

  @include state.hover(rgb(100, 255, 100, 0.3));
  @include state.active(var(--bg-surface-active));

  &__base {
    padding: 0 var(--sp-normal);
    display: flex;
    align-items: center;
    justify-content: center;

    & .text:nth-child(2) {
      margin: 0 var(--sp-extra-tight);
    }
  }
  &:first-child &__base {
    border: none;
  }

  &--active {
    background-color: rgb(0, 255, 0, 0.5);
    text-shadow: 0px 0px 4px var(--bg-surface-border);
    font-weight: bold;
  }
}